.footerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.footerButton button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(14, 31, 62);
    border: none;
}

.footerButton img {
    width: 30px;
    height: 30px;
}