.topContainer {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 25%;
}

.selectShop {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}

.selectShop p {
    font-size: 22px;
}

.shops {
    appearance: none;
    min-width: 150px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: none;
    border-bottom: 2px solid #00bfff;
    background-color: rgb(14, 31, 62);
    color: #ffffff;
    font-size: 20px;
    ;
    cursor: pointer;
}

.shops::focus {
    outline: none;
}

.shopSelect {
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    background: rgb(200, 200, 200);
    color: black;
    font-size: 12px;
    cursor: pointer;
    margin: 15% 20px;

    &:hover {
        background: rgb(255, 255, 255);
        color: black;
    }
}