footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0 -0.1em rgba(255, 255, 255, 0.1);
    padding: 0;
    left: 0;
    bottom: 0;
}